:root {
  --basicButtColor:rgb(209, 209, 209);
  --onClickButtColor:rgb(146, 146, 146);
}

body {
  height: 100vh;
  background: linear-gradient(#f38e8e, #b13333);
  background-repeat: no-repeat;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.calculatorGrid {
  display: grid;
  grid-template-columns: repeat(4, 100px);
  grid-template-rows: minmax(100px, auto) repeat(5, 100px);
  justify-content: center;
  align-content: center;
}

.calculatorGrid #output {
  display: flex;
  flex-grow: unset;
  flex-direction: column;
  margin: 0;
  font-size: 2rem;
  text-align: end;
  background: linear-gradient(#2d2d3a, #cbcbec);
  border: #8b8b8b solid 1px;
}

.calculatorGrid #preview {
  font-size: 20px;
  text-justify: center;
  color: rgba(0, 0, 0, 0.37);
}

.calculatorGrid input {
  appearance: none;
  text-align: end;
  outline: none;
  margin: 0;
  height: 60%;
  font-size: 2rem;
  text-align: end;
  border: none;
  background: linear-gradient(#2d2d3a, #cbcbec);
}

.calculatorGrid input::-webkit-outer-spin-button,
.calculatorGrid input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.calculatorGrid button {
  font-size: 2rem;
  border: #8b8b8b solid 1px;
  outline: none;
  background-color: var(--basicButtColor);
}

.calculatorGrid .GridFor {
  grid-column: span 4;
}

.calculatorGrid .GridTwo {
  grid-column: span 2;
}

.calculatorGrid .GridOne {
  grid-column: span 1;
}
